@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore');
@import url('https://fonts.googleapis.com/css?family=Heebo:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body {
    margin: 0;
    top: 0;
    background: url('../images/geometric.png');
    background-size: 500px;
    background-color: rgb(37,38,39);
    height:100%
}


.divider {
    display: grid;
    grid-template-columns: auto auto auto;
    position: relative
}

header {
    /* padding:20px; */
    position: absolute;
    background-color: rgb(24,24,24);
    height: 100%;
    /* width: 50px; */
    padding: 5px 8px;
    /* margin: 0 0 10px 0; */
    /* float: left; */
}

nav {
    color: rgb(76,76,76);
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    margin-top:1em;
}
.row {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 2fr 1fr;
}

h1 {
    font-family: 'Helvetica', sans-serif;
    font-size: 50px;
    color: white;
}

h2 {
    font-size: 20px;
    font-family: 'La Belle Aurore', cursive;
    color: rgb(81,81,81);
}

.navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation > div{
    padding-top:12px;
    padding-bottom:12px;
}


.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-media > div {
    padding-top:12px;
    padding-bottom:12px;
    cursor: pointer;
}

a, a:link, a:visited {
    text-decoration: none;  }


.social-media>div:hover{
    color: rgb(45,252,216);
    -webkit-transition: color 0.8s ease-out;
    -moz-transition: color 0.8s ease-out;
    -o-transition: color 0.8s ease-out;
    transition: color 0.8s ease-out;   
}

h1:hover, a:hover, i:hover {
    color: rgb(45,252,216);
    -webkit-transition: color 0.8s ease-out;
    -moz-transition: color 0.8s ease-out;
    -o-transition: color 0.8s ease-out;
    transition: color 0.8s ease-out;
    cursor: pointer;
}

.main {
    margin-left: -2em;
}

.banner > img {
    margin-top: 4em;
    margin-right: 2em;
    width: 380px;
    height: auto;
    transform: rotate(-25deg);
    overflow: hidden;
    z-index: -1;
}

.text-container {
    /* position: absolute; */
    margin-left:6em;
    line-height:20px;
}

.blast-root {
    font-size:0px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* margin-left: 100px; */

}
.blast-root span {
    /* display: inline-block; */
    font-size: 60px;
    font-weight: bold;
    color: white;
    font-family: 'Heebo',Helvetica, sans-serif;
    padding:1px 1px;
    line-height: 60px;
    /* collap */
}

.sub-heading > h2 {

    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    margin-top: -2px;
    margin-bottom: 50px;
}
.contact {
    /* position: absolute; */
    /* top: 50%; */
    font-family: 'Montserrat';
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
}

.button {
    display: inline-block;
    padding: 15px;
    margin-right: 5px;
    height: 15px;
    min-width: 80px;
    background: #348AA7;
    border: none;
    outline: none;
    color: white;
    font-family: inherit;
    font-weight: 400;
    font-size: 15px;
    border-radius: 3px;
    box-shadow: 0 5px 0px #348aa7;
    border-bottom: 2px solid #30809b;
}

.button:hover {
  background: #2e7a94;
  box-shadow: 0 4px 1px #2e7a94;
  border-bottom: 2px solid #2a7088;
  transition: all 0.3s ease-in;
}
.button:active{
  transform: translateY(4px);
  border-bottom-width: 2px;
  box-shadow: none;
}

.blast:hover{
    color: rgb(45,252,216);
    -webkit-transition: color 0.8s ease-out;
    -moz-transition: color 0.8s ease-out;
    -o-transition: color 0.8s ease-out;
    transition: color 0.8s ease-out;
}


#bar-logo {
    width: 40px;
    height: auto;
}

#text-logo {
    width: 50px;
    height: auto;
}